.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barHandle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}

.memberBooking {
  fill: rgba(0, 123, 255, 0.5); /* Semi-transparent blue */
  stroke: #007bff; /* Blue border */
  border-width: 1px; /* 1px border width */
}